.cr-unlogin {
    position: relative;

    &-content {
        position: relative;
    
        &--blur {
            filter: blur(5px);
        }
    }

    &-eyes {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
    }   
}
