.duckies-redeem {
    padding: 0 var(--ifm-spacing-horizontal);
    margin: 0 auto;
    margin-top: 74px;
    &__block {
        display: flex;
        align-items: center;
        padding-bottom: 74px;
        width: 100%;
        @media screen and (max-width: 676px) {
            flex-direction: column;
        }
        &-info {
            display: flex;
            width: 100%;
            max-width: 50%;
            flex-direction: column;
            @media screen and (max-width: 851px) {
                max-width: 100%;
            }
            &-header {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                &-name {
                    color: var(--text-color-100);
                    font-weight: 700;
                    font-size: 1.125rem;
                    line-height: 1.5rem;
                    margin-bottom: 12px;
                    &-content {
                        display: block;
                        width: fit-content;
                        background-color: var(--secondary-control-color-90);
                        padding: 4px 14px;
                        font-family: var(--font-family-subtitle-400);
                    }
                }
                &-title {
                    color: var(--text-color-100);
                    font-size: 3.75rem;
                    line-height: 4rem;
                    font-weight: 700;
                    margin-bottom: 12px;
                    font-family: var(--font-family-h8);
                }
                &-subtitle {
                    color: var(--text-color-100);
                    font-weight: 600;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    margin-bottom: 36px;
                    font-family: var(--font-family-subtitle-400);
                }
                &-image {
                    display: flex;
                    margin-bottom: 40px;
                    @media screen and (min-width: 676px) {
                        display: none;
                    }
                }
            }
            &-content {
                display: flex;
                flex-direction: column;
                &-row {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    @media screen and (max-width: 851px) {
                        flex-direction: column;
                    }
                    &-item {
                        display: flex;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        width: 100%;
                        max-width: 50%;
                        margin-bottom: 36px;
                        letter-spacing: 0.15px;
                        padding-right: 58px;
                        flex-direction: column;
                        font-family: var(--font-family-h8);
                        @media screen and (max-width: 851px) {
                            max-width: 100%;
                        }
                        &-line {
                            width: 48px;
                            height: 4px;
                            background-color: var(--secondary-control-color-90);
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
        &-duckies {
            display: none;
            width: 100%;
            max-width: 50%;
            @media screen and (min-width: 676px) {
                display: flex;
            }
            @media screen and (max-width: 851px) {
                max-width: 100%;
            }
        }
    }
    &__slider {
        padding-bottom: 180px;
        max-width: 100%;
        overflow-x: auto;
        .slick-slider {
            width: 102%;
            left: -1%;
        }
        .slick-slide {
            width: auto;
        }
        .slick-dots {
            bottom: -40px;
            li {
                width: initial;
                &.slick-active span {
                    width: 24px;
                    background-color: #090909;
                    border: none;
                }
            }
        }
        .slider-item {
            border-radius: 4px;
            position: relative;
            padding-right: 14px;
            padding-left: 14px;
            max-height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            &__logo {
                border-radius: 4px;
                box-shadow: -4px 5px var(--text-color-100);
                max-height: 350px;
            }
        }
        .slider-dot {
            display: inline-block;
            width: 8px;
            height: 8px;
            border: 1px solid #8E8E8E;
            border-radius: 8px;
            transition: .2s;
            &:hover {
                border-color: #000;
            }
        }
        .slick-arrow {
            display: none !important;
        }
    }
}