.duckies-hero {
    padding: 0 var(--ifm-spacing-horizontal);
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    padding-bottom: 168px;
    &__tooltip {
        position: absolute;
        background: #fff;
        box-shadow: 0 6px 36px rgb(0, 0, 0, 0.24);
        display: flex;
        min-width: fit-content;
        top: 120px;
        z-index: 100;
        height: fit-content;
        display: flex;
        flex-flow: column;
        padding: 20px 24px;
        left: 0;
        border-radius: 2px;
        &-balance {
            display: flex;
            align-items: center;
        }
        &-header {
            font-size: 18px !important;
            line-height: 18px !important;
            padding-bottom: 20px;
            margin-bottom: 0px !important;
            font-weight: bold;
        }
        &-box {
            &-title {
                font-size: 14px;
                font-weight: bold;
            }
            &-balance {
                margin-left: 3px;
                display: flex;
                align-items: center;
                svg {
                    margin-left: 4px;
                }
            }
        }
    }
    &__balance {
        display: flex;
        flex-flow: column;
        &-address {
            font-size: 14px;
            color: var(--neutral-control-layer-color-50);
        }
        &-amount {
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            display: flex;
            align-items: center;
            svg {
                margin-left: 8px;
            }
        }
        &-logout {
            margin-top: 12px;
            margin-right: 0px !important;
        }
    }
    @media screen and (min-width: 872px) {
        .container {
            display: flex;
        }
    }
    @media screen and (max-width: 871px) {
        flex-direction: column;
        padding-top: 42px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media screen and (max-width: 871px) {
            margin-bottom: 60px;
        }
        &-selebration {
            display: flex;
            justify-content: flex-start;
            @media screen and (max-width: 871px) {
                justify-content: center;
                margin-bottom: 10px;
                svg {
                    height: 90px;
                    width: 90px;
                }
            }
        }
        &-received {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            word-wrap: break-word;

            @media screen and (max-width: 1200px) {
                font-size: 2.5rem;
                line-height: 3rem;
            }
            @media screen and (max-width: 871px) {
                justify-content: center;
                text-align: center;
                padding-bottom: 36px;
            }
            @media screen and (max-width: 425px) {
                font-size: 2.5rem;
                line-height: 3rem;
            }
            &-message {
                color: var(--text-color-100);
                font-size: 3.75rem;
                line-height: 4rem;
                font-weight: bolder;
                font-family: var(--ifm-heading-font-family);
            }
            &-amount {
                color: var(--text-color-100);
                display: flex;
                align-items: center;
                width: 100%;

                @media screen and (max-width: 871px) {
                    justify-content: center;
                }

                @media screen and (max-width: 572px) {
                    flex-direction: column;
                }

                &-value {
                    font-size: 3.75rem;
                    line-height: 4rem;
                    font-weight: bolder;
                    font-family: var(--ifm-heading-font-family);
                    margin-right: 18px;

                    // @media screen and (max-width: 572px) {
                    //     display
                    // }
                }

                &-image {
                    display: flex;

                    @media screen and (max-width: 871px) {
                        margin-right: 0;
                    }
                }
            }
        }
        &-buttons {
            display: flex;
            margin-top: 32px;
            @media screen and (max-width: 572px) {
                flex-direction: column;
            }
            .button__inner {
                font-size: 24px;
                line-height: 32px;
                padding: 16px;
            }
            &-claim {
                margin-right: 24px;
                @media screen and (max-width: 871px) {
                    width: 50%;
                }
                @media screen and (max-width: 572px) {
                    margin-right: 0;
                    width: 100%;
                }
            }
            &-earn {
                @media screen and (max-width: 871px) {
                    width: 50%;
                }
                @media screen and (max-width: 572px) {
                    margin-top: 12px;
                    width: 100%;
                }
            }
        }
    }
    &__icons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: relative;
        @media screen and (max-width: 871px) {
            justify-content: center;
        }
        &-balance {
            padding: 16px;
            border-radius: 50%;
            width: 18.75rem;
            height: 18.75rem;
            background-color: var(--primary-cta-color-10);
            z-index: 10;
            border: 1px solid var(--neutral-control-layer-color-80);
            box-shadow: -5px 5px var(--secondary-control-color-90);
            @media screen and (max-width: 871px) {
                width: 300px;
                height: 300px;
            }
            &-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                border-radius: 50%;
                height: 100%;
                background-color: var(--primary-cta-color-10);
                border: 1px solid var(--primary-cta-color-90);
                z-index: 10;
                &-content {
                    &-title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 12px;
                        &-name {
                            font-size: 1.875rem;
                            line-height: 2.5rem;
                            text-transform: uppercase;
                            font-weight: bolder;
                        }
                        &-icon {
                            display: flex;
                            vertical-align: middle;
                            margin-left: 8px;
                            svg {
                                cursor: pointer;
                            }
                        }
                    }
                    .button__inner {
                        padding: 6px 18px;
                    }
                }
            }
        }
        &-duck {
            padding: 10px;
            border-radius: 50%;
            width: 11rem;
            height: 11rem;
            background-color: var(--primary-cta-color-20);
            margin-top: -1.5rem;
            margin-left: -4.875rem;
            z-index: 9;
            position: relative;
            box-shadow: -5px 5px var(--secondary-control-color-90);
            @media screen and (max-width: 768px) {
                position: absolute;
                width: 96px;
                height: 96px;
                margin-left: 14.75rem;
                margin-top: -2.5rem;
                padding: 6px;
            }
            &-body {
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                border-radius: 50%;
                height: 100%;
                border: 1px solid var(--primary-cta-color-90);
                .lazy-load-image-background {
                    display: flex;
                    align-items: center;
                    vertical-align: middle;
                    padding-top: 12px;
                    @media screen and (max-width: 768px) {
                        padding-top: 8px;
                    }
                    img {
                        width: 155px;
                        @media screen and (max-width: 768px) {
                            width: 86px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .duckies-hero__icons-balance-body-content-title-icon {
            display: none;
        }
    }
}

.metamask-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        margin-bottom: 1.5em;
    }

    .content {
        padding: 0 .5em 1.5em .5em;
        margin: 0;

        &.center {
            text-align: center;
        }
    }
}

.notification-modal {
    color: #3f3f3f;

    &__title {
        color: #000;
        font-size: 1.2em;
        font-weight: bold;
    }
}
